# === Node ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# === Next.js ===
.next/
out/
.next.cache/
.vercel/

# Build output
dist/

# Env files
.env
.env*.local

# Logs
logs
*.log
*.log.*
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# === Docker ===
# Ignore bind-mounted node_modules created by docker
/app/node_modules
docker-volume/

# Docker build cache artifacts
*.tar
.docker/

# === Misc ===
coverage/
temp/
tmp/

# Ignore local certificates
*.pem
*.key

# Ignore local dev data
data/
